<form class="form-horizontal" #createRSUForm="ngForm" (ngSubmit)="submitForm()">
	<div class="col-sm-12">
		<div class="form-group">
			<label class="control-label col-sm-3">RSU Target:<span style="color: red;">*</span></label>
			<div class="col-sm-9"> 
				<input class="form-control" [(ngModel)]="newRSU.rsuTarget" name="rsuTarget" style="width:50%;" required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-3">RSU Username:<span style="color: red;">*</span></label>
			<div class="col-sm-9"> 
				<input class="form-control" [(ngModel)]="newRSU.rsuUsername" name="rsuUsername" style="width:50%;" required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-3">RSU Password:<span style="color: red;">*</span></label>
			<div class="col-sm-9"> 
				<input class="form-control" [(ngModel)]="newRSU.rsuPassword" name="rsuPassword" style="width:50%;" required />
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3">SNMP Username:<span style="color: red;">*</span></label>
			<div class="col-sm-9"> 
				<input class="form-control" [(ngModel)]="newRSU.snmpUsername" name="snmpUsername" style="width:50%;" required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-3">SNMP Password:<span style="color: red;">*</span></label>
			<div class="col-sm-9"> 
				<input class="form-control" [(ngModel)]="newRSU.snmpPassword" name="snmpPassword" style="width:50%;" required />
			</div>
		</div>

	</div>
	<div style="text-align: center; clear: both;">			
		<button type="submit" class="btn btn-primary">Add New RSU</button>
	</div>

	<div>{{ testJSON }}</div>
</form>